<a href="https://colab.research.google.com/github/KEKWR/MachineLearning/blob/main/Practic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('test.csv')
data['empty'] = pd.Series()

#Задние 1
выведите размер таблицы

In [2]:
print(data.shape)

(22633, 11)

#Задание 2
выведите первые 5 строк

In [ ]:
print(data.head(5))

#Задание 3
выведите последние 5 строк

In [ ]:
print(data.tail(5))

#Задание 4
выведите случайные 10 строк

In [ ]:
import random 
print(data.iloc[[random.randint(0, len(data.index)) for i in range(10)]])

#Задание 5
создайте 2 копии таблицы (Дале “копия1” и “копия2”)

In [ ]:
data1 = data.copy()
data2 = data.copy()

#Задание 6
 выведите информацию о таблице “копия1”, выберите столбец с
пропущенными значениями (они же “null”, они же “NaN”) и
удалите их, выведите информацию об этой таблице снова.

In [ ]:
print(data1.head)

def find_Null_Column(df):
    for column in df: 
        if df[column].isnull().sum() == len(data.index) : return column 

data1[f'{find_Null_Column(data1)}'].fillna('', inplace= True )

print(data1.head)

#Задание 7
выведите информацию о таблице “копия2”, выберите столбец с
пропущенными значениями (они же “null”, они же “NaN”) и
замените их на что-нибудь, выведите информацию об этой
таблице снова

In [ ]:
print(data2.head)

data2[f'{find_Null_Column(data2)}'].fillna('empty', inplace= True )

print(data2.head)

#Задание 8
В любой таблице выберите столбец с числами и найдите его
среднее значение

In [ ]:
def find_Column_With_Number(df):
    for column in df:
        match data1[f'{column}'].dtypes:
            case 'int64':
                return column
            case 'float64':
                return column
            
print(str(find_Column_With_Number(data1)) + "\n" + str(data1[find_Column_With_Number(data1)].mean()))

#Задание 9
в любой таблице выберите столбец с категориальными
данными (как правило строки) и выведите количество его
уникальных значений

In [ ]:
def find_Column_With_Cat(df):
    for column in df:
        match data1[f'{column}'].dtypes:
            case 'String':
                return column
            case 'object':
                return column

print(str(find_Column_With_Cat(data2))+ '\n' +str(data2[find_Column_With_Cat(data2)].nunique()))

#Задание 10
в любой таблице измените значение любой колонки для
второго и третьего объектов (объект = строка). выведите
результаты, что бы убедиться, что изменения сохранилис

In [ ]:
data1.at[0,f'{data1.columns[1]}'] = '111'
data1.at[0,f'{data1.columns[2]}'] = '222'
print(data1.head)

#Задание 11
создайте две маленькие таблицы 3х3 и соедините их в одну.

In [ ]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", ],
        "B": ["B0", "B1", "B2"],
        "C": ["C0", "C1", "C2"],
    },
)


df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6"],
        "B": ["B4", "B5", "B6"],
        "C": ["C4", "C5", "C6"],
    },
)

frames = [df1, df2]

result = pd.concat(frames)
print(result.head)

#Задание 12
сохраните получившуюся таблицу в формате csv

In [ ]:
result.to_csv('output.csv')