<a href="https://colab.research.google.com/github/KEKWR/MachineLearning/blob/main/Practic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = pd.read_csv('train.csv')

#Задние 1
выведите размер таблицы

In [2]:
print(data.shape)

(891, 12)

#Задание 2
выведите первые 5 строк

In [3]:
print(data.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

#Задание 3
выведите последние 5 строк

In [4]:
print(data.tail(5))

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

#Задание 4
выведите случайные 10 строк

In [5]:
import random 
print(data.iloc[[random.randint(0, len(data.index)) for i in range(10)]])

     PassengerId  Survived  Pclass  \
567          568         0       3
42            43         0       3
883          884         0       2
330          331         1       3
508          509         0       3
231          232         0       3
54            55         0       1
512          513         1       1
171          172         0       3
866          867         1       2

                                            Name     Sex   Age  SibSp  Parch  \
567  Palsson, Mrs. Nils (Alma Cornelia Berglund)  female  29.0      0      4
42                           Kraeff, Mr. Theodor    male   NaN      0      0
883                Banfield, Mr. Frederick James    male  28.0      0      0
330                           McCoy, Miss. Agnes  female   NaN      2      0
508                     Olsen, Mr. Henry Margido    male  28.0      0      0
231                     Larsson, Mr. Bengt Edvin    male  29.0      0      0
54                Ostby, Mr. Engelhart Cornelius    male  65.0      0      1
512                    McGough, Mr. James Robert    male  36.0      0      0
171                         Rice, Master. Arthur    male   4.0      4      1
866                 Duran y More, Miss. Asuncion  female  27.0      1      0

               Ticket     Fare Cabin Embarked
567            349909  21.0750   NaN        S
42             349253   7.8958   NaN        C
883  C.A./SOTON 34068  10.5000   NaN        S
330            367226  23.2500   NaN        Q
508            C 4001  22.5250   NaN        S
231            347067   7.7750   NaN        S
54             113509  61.9792   B30        C
512          PC 17473  26.2875   E25        S
171            382652  29.1250   NaN        Q
866     SC/PARIS 2149  13.8583   NaN        C

#Задание 5
создайте 2 копии таблицы (Дале “копия1” и “копия2”)

In [6]:
data1 = data.copy()
data2 = data.copy()

#Задание 6
 выведите информацию о таблице “копия1”, выберите столбец с
пропущенными значениями (они же “null”, они же “NaN”) и
удалите их, выведите информацию об этой таблице снова.

In [7]:
print(data1.head)

def find_Null_Column(df):
    for column in df: 
        if df[column].isnull().sum() > 0 : return column 

data1[f'{find_Null_Column(data1)}'].fillna('', inplace= True )

print(data1.head)

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>
<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female            1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

#Задание 7
выведите информацию о таблице “копия2”, выберите столбец с
пропущенными значениями (они же “null”, они же “NaN”) и
замените их на что-нибудь, выведите информацию об этой
таблице снова

In [8]:
print(data2.head)

data2[f'{find_Null_Column(data2)}'].fillna('empty', inplace= True )

print(data2.head)

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>
<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex    Age  SibSp  \
0                              Braund, Mr. Owen Harris    male   22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38.0      1
2                               Heikkinen, Miss. Laina  female   26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35.0      1
4                             Allen, Mr. William Henry    male   35.0      0
..                                                 ...     ...    ...    ...
886                              Montvila, Rev. Juozas    male   27.0      0
887                       Graham, Miss. Margaret Edith  female   19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  empty      1
889                              Behr, Mr. Karl Howell    male   26.0      0
890                                Dooley, Mr. Patrick    male   32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

#Задание 8
В любой таблице выберите столбец с числами и найдите его
среднее значение

In [9]:
def find_Column_With_Number(df):
    for column in df:
        match data1[f'{column}'].dtypes:
            case 'int64':
                return column
            case 'float64':
                return column
            
print(str(find_Column_With_Number(data1)) + "\n" + str(data1[find_Column_With_Number(data1)].mean()))

SyntaxError: ignored

#Задание 9
в любой таблице выберите столбец с категориальными
данными (как правило строки) и выведите количество его
уникальных значений

In [10]:
def find_Column_With_Cat(df):
    for column in df:
        match data1[f'{column}'].dtypes:
            case 'String':
                return column
            case 'object':
                return column

print(str(find_Column_With_Cat(data2))+ '\n' +str(data2[find_Column_With_Cat(data2)].nunique()))

SyntaxError: ignored

#Задание 10
в любой таблице измените значение любой колонки для
второго и третьего объектов (объект = строка). выведите
результаты, что бы убедиться, что изменения сохранилис

In [11]:
data1.at[0,f'{data1.columns[1]}'] = '111'
data1.at[0,f'{data1.columns[2]}'] = '222'
print(data1.head)

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1       111     222
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female            1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

#Задание 11
создайте две маленькие таблицы 3х3 и соедините их в одну.

In [ ]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", ],
        "B": ["B0", "B1", "B2"],
        "C": ["C0", "C1", "C2"],
    },
)


df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6"],
        "B": ["B4", "B5", "B6"],
        "C": ["C4", "C5", "C6"],
    },
)

frames = [df1, df2]

result = pd.concat(frames)
print(result.head)

#Задание 12
сохраните получившуюся таблицу в формате csv

In [ ]:
result.to_csv('output.csv')